@import "tailwindcss";

@theme{
  --color-light: #FAF9F6;
  --color-dark: #09090B;
  --font-logo: "poltawski";
  --font-primary: "poppins";
  --font-secondary: "plex";
}


@custom-variant dark (&:where(.dark, .dark *));