@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

@font-face{
  font-family: 'plex';
  src: url("/fonts/IBMPlexMono-Regular.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
} 

@font-face{
  font-family: 'poltawaski';
  src: url("/fonts/PoltawskiNowy-VariableFont_wght.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
} 

@theme {
  --color-light: #FAF9F6;
  --color-dark: #09090B;
  --font-logo: "poltawaski", sans-serif;
  --font-primary: "Instrument Serif", serif;
  --font-secondary: "plex", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));